#
# Copyright (C) 2020 Xiaomi Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

config BLUETOOTH
	bool "Enable Framework Bluetooth"
	default n
	depends on LIBUV
	depends on LIBUV_EXTENSION

if BLUETOOTH

choice
	prompt "select Bluetooth Storage Method(Unqlite, KVDB)"
	default BLUETOOTH_STORAGE_UNQLITE_SUPPORT
	config BLUETOOTH_STORAGE_PROPERTY_SUPPORT
		bool "Bluetooth Storage KVDB Property support"
		depends on KVDB
	config BLUETOOTH_STORAGE_UNQLITE_SUPPORT
		bool "Bluetooth Storage uv_db support"
		depends on UNQLITE
endchoice

config BLUETOOTH_DEBUG_TIMEVAL
    bool "Enable Bluetooth Debug Time"
    default n
    help
        Enable this option to include Bluetooth debug time functionality.

config BLUETOOTH_DEBUG_TIME_UNIT_US
    bool "Use microseconds for Bluetooth debug time"
    default n
    depends on BLUETOOTH_DEBUG_TIMEVAL
    help
        Enable this option to use microseconds (us) for Bluetooth debug time.
        If disabled, milliseconds (ms) will be used by default.

config BLUETOOTH_DEBUG_MEMORY
    bool "Enable Bluetooth Debug Memory"
    default n
    help
        Enable this option to override standard memory allocation functions
        (malloc, calloc, free) with Bluetooth-specific versions (bt_malloc, etc).
        Useful for tracking memory usage and debugging in Bluetooth modules.

config BLUETOOTH_DEBUG_TRACE
	bool "Enable Bluetooth Debug Trace"
	default n
	help
		Enable bluetooth debug trace tools.

if BLUETOOTH_DEBUG_TRACE
config BLUETOOTH_TRACE_BUFFER_SIZE
	int "Bluetooth Trace Buffer Size"
	default 512

endif #BLUETOOTH_DEBUG_TRACE

config BLUETOOTH_BREDR_SUPPORT
	bool "BREDR support"
	default y

config BLUETOOTH_BLE_SUPPORT
	bool "LE support"
	default n

config BLUETOOTH_BLE_ADV
	bool "LE advertising support"
	default n

config BLUETOOTH_BLE_SCAN
	bool "LE scan support"
	default n

config BLUETOOTH_BLE_AUDIO
       bool "LE audio support"
       default n

config BLUETOOTH_HCI_BRIDGE_MODE
	bool "HCI bridge mode"
	default n

config BLUETOOTH_GATT
	bool "Generic ATT profile support"
	default y

config BLUETOOTH_SERVICE_LOOP_THREAD_STACK_SIZE
	int "bluetooth service loop thread stack size"
	default 8192

config BLUETOOTH_MAX_SAVED_REMOTE_UUIDS_LEN
	int "bluetooth saved remote uuids length"
	default 80

config BLUETOOTH_SERVICE_LOOP_THREAD_PRIORITY
	int "bluetooth service loop thread priority"
	default 103

config BLUETOOTH_DUMPBUFFER
	bool "Bluetooth dumpbuffer"
	default n

config BLUETOOTH_AUDIO_TRANS_RPSMG_SERVER
	bool "Rpmsg audio transport server"
	default n

config BLUETOOTH_AUDIO_TRANS_ID_SOURCE_CTRL
	int "Bluetooth Audio Transport Source Ctrl Channel ID"
	default 0

config BLUETOOTH_AUDIO_TRANS_ID_SOURCE_AUDIO
	int "Bluetooth Audio Transport Source Audio Channel ID"
	default 1

config BLUETOOTH_AUDIO_TRANS_ID_SINK_CTRL
	int "Bluetooth Audio Transport Sink Ctrl Channel ID"
	default 2

config BLUETOOTH_AUDIO_TRANS_ID_SINK_AUDIO
	int "Bluetooth Audio Transport Sink Audio Channel ID"
	default 3

config BLUETOOTH_AUDIO_TRANS_ID_HFP_CTRL
	int "Bluetooth Audio Transport SCO Ctrl Channel ID"
	default 4

config BLUETOOTH_A2DP_SINK_CTRL_PATH
	string "Bluetooth A2DP Audio Transport Sink Ctrl Path"
	default "a2dp_sink_ctrl"

config BLUETOOTH_A2DP_SINK_DATA_PATH
	string "Bluetooth A2DP Audio Transport Sink Data Path"
	default "a2dp_sink_data"

config BLUETOOTH_A2DP_SOURCE_CTRL_PATH
	string "Bluetooth A2DP Audio Transport Source Ctrl Path"
	default "a2dp_source_ctrl"

config BLUETOOTH_A2DP_SOURCE_DATA_PATH
	string "Bluetooth A2DP Audio Transport Source Data Path"
	default "a2dp_source_data"

config BLUETOOTH_LEA_SINK_CTRL_PATH
	string "Bluetooth LE Audio Transport Sink Ctrl Path"
	default "lea_sink_ctrl"

config BLUETOOTH_LEA_SINK_DATA_PATH
	string "Bluetooth LE Audio Transport Sink Data Path"
	default "lea_sink_data"

config BLUETOOTH_LEA_SOURCE_CTRL_PATH
	string "Bluetooth LE Audio Transport Source Ctrl Path"
	default "lea_source_ctrl"

config BLUETOOTH_LEA_SOURCE_DATA_PATH
	string "Bluetooth LE Audio Transport Source Data Path"
	default "lea_source_data"

config BLUETOOTH_SCO_CTRL_PATH
	string "Bluetooth SCO Transport Ctrl Path"
	default "sco_ctrl"

config BLUETOOTH_PM_MAX_TIMER_NUMBER
	int "Bluetooth PM maximum number of timers"
	default 16

if BLUETOOTH_GATT
config BLUETOOTH_GATTC_MAX_CONNECTIONS
	int "GATT client max connections"
	default 8

config BLUETOOTH_GATTS_MAX_CONNECTIONS
	int "GATT sever max connections"
	default 4

config BLUETOOTH_GATTS_MAX_ATTRIBUTE_NUM
	int "GATT server max number of attributes contained in a table"
	default 10
endif

config BLUETOOTH_AVRCP_TARGET
	bool "Audio/Video Remote Control Profile (Target) support"
	default n

config BLUETOOTH_AVRCP_CONTROL
	bool "Audio/Video Remote Control Profile (Control) support"
	default n

config BLUETOOTH_AVRCP_ABSOLUTE_VOLUME
	bool "Audio/Video Remote Control Profile support absolute volume"
	default n
	depends on (BLUETOOTH_AVRCP_CONTROL || BLUETOOTH_AVRCP_TARGET) && ((BLUETOOTH_STACK_BREDR_BLUELET && BLUELET_AVRCP_TG_ABSVOL_SUPPORT) || (BLUETOOTH_STACK_BREDR_ZBLUE))

config BLUETOOTH_A2DP
	bool "Advanced Audio Distribution Profile"
	default n
	depends on MEDIA

config BLUETOOTH_A2DP_SOURCE
	bool "A2DP source profile support"
	default n
	select BLUETOOTH_AVRCP_TARGET
	depends on BLUETOOTH_A2DP

config BLUETOOTH_A2DP_SINK
	bool "A2DP sink profile support"
	default n
	select BLUETOOTH_AVRCP_CONTROL
	depends on BLUETOOTH_A2DP

if BLUETOOTH_A2DP
config BLUETOOTH_A2DP_AAC_CODEC
	bool "Bluetooth A2dp AAC codec support"
	default n

config BLUETOOTH_A2DP_MAX_CONNECTIONS
	int "Maximum A2dp connections"
	default 1
	help
		Maximum A2dp connections

config BLUETOOTH_A2DP_PEER_PARTIAL_RECONN
	bool "Bluetooth A2dp peer partial reconnect support"
	default y
	help
		Bluetooth A2dp peer partial reconnect support

endif #BLUETOOTH_A2DP

config BLUETOOTH_HFP_HF
	bool "HFP hands-free profile support"
	default n

if BLUETOOTH_HFP_HF
config HFP_HF_MAX_CONNECTIONS
	int "HFP hands-free max connections"
	default 1

config HFP_HF_WEBCHAT_BLOCKER
	bool "Block webchat automatically"
	default y

endif #BLUETOOTH_HFP_HF

config BLUETOOTH_HFP_AG
	bool "HFP audio-gateway profile support"
	default n

if BLUETOOTH_HFP_AG
config HFP_AG_MAX_CONNECTIONS
	int "HFP audio-gateway max connections"
	default 1

config BLUETOOTH_HFP_AG_PRIMARY_SLOT
	int "HFP select primary modem slot"
	default 0
endif # BLUETOOTH_HFP_AG

config BLUETOOTH_SPP
	bool "Serial port profile support"
	default n
	depends on SERIAL_TERMIOS
	depends on PSEUDOTERM

if BLUETOOTH_SPP
config BLUETOOTH_SPP_MAX_CONNECTIONS
	int "SPP max connections"
	default 1

config BLUETOOTH_SPP_SERVER_MAX_CONNECTIONS
	int "SPP server max connections"
	default 8

config BLUETOOTH_SPP_RPMSG_NET
	bool "SPP rpmsg net support"
	default n
	depends on NET_RPMSG
endif

config BLUETOOTH_HID_DEVICE
	bool "HID device profile support"
	default n

config BLUETOOTH_PAN
	bool "Personal area network profile support"
	default n
	depends on ALLOW_BSD_COMPONENTS
	help
		config NET_TUN_PKTSIZE should set 1518

config BLUETOOTH_L2CAP
	bool "L2CAP dynamic channel support"
	default n

if BLUETOOTH_L2CAP
config BLUETOOTH_L2CAP_OUTGOING_MTU
	int "Outgoing MTU"
	default 2048
	help
		config L2CAP Outgoing MTU

endif #BLUETOOTH_L2CAP

config BLUETOOTH_MAX_REGISTER_NUM
	int "Max register callback nums"
	default 4

config BLUETOOTH_FRAMEWORK
	bool "Enable bluetooth framework api"
	default n
	help
		Enable bluetooth framework api

if BLUETOOTH_FRAMEWORK
choice
	prompt "select bluetooth framework type"
	default BLUETOOTH_FRAMEWORK_LOCAL
	config BLUETOOTH_FRAMEWORK_LOCAL
		bool "use local api without ipc"
	config BLUETOOTH_FRAMEWORK_SOCKET_IPC
		bool "use socket ipc api"
endchoice

config BLUETOOTH_FRAMEWORK_ASYNC
	bool "Enable bluetooth framework async api"
	default n
	help
		Enable bluetooth framework async api
endif #BLUETOOTH_FRAMEWORK

if BLUETOOTH_FRAMEWORK_SOCKET_IPC
config BLUETOOTH_RPMSG_CPUNAME
	string "Blutooth rpmsg cpu name"
	default "cp"
	help
		Bluetooth default server name

config BLUETOOTH_SOCKET_BUF_SIZE
	int "Bluetooth socket buffer size"
	default 1024
	help
		Bluetooth socket buffer size

config BLUETOOTH_SOCKET_PORT
	int "Bluetooth socket port num"
	default 140704
	help
		Socket port of inet

endif #BLUETOOTH_FRAMEWORK_SOCKET_IPC

config BLUETOOTH_SERVICE
	bool "Enable bluetooth service"
	default n
	help
		Enable bluetooth service

if BLUETOOTH_SERVICE
config BLUETOOTH_SERVER
	bool "Bluetooth server enable"
	default n
	help
		Enable bluetooth server

config CONFIG_BLUETOOTH_DEFAULT_COD
	hex "default class of device"
	default 0x00280704
	help
		Set default class of device

if BLUETOOTH_SERVER
config BLUETOOTH_SERVER_NAME
	string "Blutooth server name"
	default "bluetoothd"
	help
		Bluetooth default server name

config BLUETOOTH_IPC_JOIN_LOOP
	bool "Let ipc join service loop"
	default n
	help
		Bluetooth ipc join service loop

config BLUETOOTH_NET_IPv4
	bool "Let Bluetooth server listen message from network"
	default n
	depends on NET_IPv4
	help
		Bluetooth server listen message

endif #BLUETOOTH_SERVER

config BLUETOOTH_SERVICE_LOG_LEVEL
	int "Bluetooth service log level"
	default 7
	help
		Set bt service log level <0~7>

config BLUETOOTH_SERVICE_HCI_UART_NAME
	string "HCI uart driver name"
	default "/dev/ttyHCI0"

if BLUETOOTH_BREDR_SUPPORT
choice
	prompt "select br stack"
	default BLUETOOTH_STACK_BREDR_BLUELET
	config BLUETOOTH_STACK_BREDR_BLUELET
		bool "classic bt stack use bluelet"
		select LIB_BLUELET
	config BLUETOOTH_STACK_BREDR_ZBLUE
		bool "classic bt stack use zblue"
	config BLUETOOTH_STACK_NOT_SUPPORT_CLASSIC_BT
		bool "not support classic bt stack"
endchoice
endif #BLUETOOTH_BREDR_SUPPORT

if BLUETOOTH_BLE_SUPPORT
choice
	prompt "select le stack"
	default BLUETOOTH_STACK_LE_BLUELET
	config BLUETOOTH_STACK_LE_BLUELET
		bool "ble stack use bluelet"
		select LIB_BLUELET
	config BLUETOOTH_STACK_LE_ZBLUE
		bool "ble stack use zblue"
	config BLUETOOTH_STACK_NOT_SUPPORT_LE
		bool "not support ble stack"
endchoice

config GATT_CLIENT_SERVICE_MAX
    int "Maximum number of discovered services per connection"
    default 20
    depends on BLUETOOTH_GATT && BLUETOOTH_STACK_LE_ZBLUE && BT_GATT_CLIENT
    help
		The maximum number of GATT services that can be stored per BLE connection
		when using the ZBLUE stack.

config GATT_CLIENT_ELEMENT_MAX
    int "Maximum number of discovered GATT attributes per connection"
    default 200
    depends on BLUETOOTH_GATT && BLUETOOTH_STACK_LE_ZBLUE && BT_GATT_CLIENT
    help
		The maximum number of GATT attribute elements (e.g., characteristics
		and descriptors) that can be stored per BLE connection
		when using the ZBLUE stack.

config BLUETOOTH_LE_SCANNER_MAX_NUM
	int "LE scanner max register number"
	default 2
	help
		le scanner max register number

config BLUETOOTH_LE_ADVERTISER_MAX_NUM
	int "LE advertiser max register number"
	default 2
	help
		Le scanner max register number

config BLUETOOTH_LE_AUDIO_SUPPORT
	bool "LE audio support"
	default n

config LE_DLF_SUPPORT
	bool "LE DLF support"
	default n

endif #BLUETOOTH_BLE_SUPPORT
endif #BLUETOOTH_SERVICE

config MAX_SNOOP_FILE_SIZE
	int "Maximum size of the snoop log file"
	default 1048576
	help
		Maximum size of the snoop log file

config BLUETOOTH_TOOLS
	bool "Enable bluetooth profile test tools"
	default n
	select BLUETOOTH_FRAMEWORK

choice
	prompt "select bt vendor"
	default BLUETOOTH_VENDOR_NONE
	config BLUETOOTH_VENDOR_BES
		bool "bluetooth vendor BES"
	config BLUETOOTH_VENDOR_ACTIONS
		bool "bluetooth vendor ACTIONS"
	config BLUETOOTH_VENDOR_NONE
		bool "bluetooth vendor NONE"
endchoice

config BLUETOOTH_FEATURE
	bool "bluetooth feature api support"
	default n
	depends on FEATURE_FRAMEWORK

config BLUETOOTH_LEAUDIO_CLIENT
	bool "enable bluetooth leaudio client feature"
	default n

config BLUETOOTH_LEAUDIO_SERVER
	bool "enable bluetooth leaudio server feature"
	default n

config BLUETOOTH_LEAUDIO_TBS
	bool "enable bluetooth leaudio tbs feature"
	default n
	depends on BLUETOOTH_LEAUDIO_CLIENT

config BLUETOOTH_LEAUDIO_CCP
	bool "enable bluetooth leaudio ccp feature"
	default n
	depends on BLUETOOTH_LEAUDIO_SERVER

if BLUETOOTH_LEAUDIO_TBS
config BLUETOOTH_LEAUDIO_TBS_PRIMARY_SLOT
	int "LE Audio TBS select primary modem slot"
	default 0

config BLUETOOTH_LEAUDIO_TBS_CALL_NAME
	string "LE Audio call name"
	default "/ril_0/voicecall0"

endif # BLUETOOTH_LEAUDIO_TBS

if BLUETOOTH_LEAUDIO_CCP
config BLUETOOTH_LEAUDIO_SERVER_CALL_CONTROL_NUMBER
	int "leaudio tbs server number"
	default 1
	help
		leaudio tbs server number

endif # BLUETOOTH_LEAUDIO_CCP

config BLUETOOTH_LEAUDIO_MCS
	bool "enable bluetooth leaudio mcs feature"
	default n
	depends on BLUETOOTH_LEAUDIO_CLIENT

config BLUETOOTH_LEAUDIO_MCP
	bool "enable bluetooth leaudio mcp feature"
	default n
	depends on BLUETOOTH_LEAUDIO_SERVER

if BLUETOOTH_LEAUDIO_MCP
config BLUETOOTH_LEAUDIO_SERVER_MEDIA_CONTROL_NUMBER
	int "leaudio mcs server number"
	default 1
	help
		leaudio mcs server number

endif # BLUETOOTH_LEAUDIO_MCP

config BLUETOOTH_LEAUDIO_VMICP
	bool "enable bluetooth leaudio vmicp feature"
	default n
	depends on BLUETOOTH_LEAUDIO_CLIENT

config BLUETOOTH_LEAUDIO_VMICS
	bool "enable bluetooth leaudio vmics feature"
	default n
	depends on BLUETOOTH_LEAUDIO_SERVER

if BLUETOOTH_LEAUDIO_VMICS
config BLUETOOTH_LEAUDIO_VCS_VOLUME_STEP
	int "leaudio server vcs volume step size"
	default 2
	help
		leaudio server vcs volume step size

config BLUETOOTH_LEAUDIO_VOCS_NUMBER
	int "leaudio server vocs numnber"
	default 0
	help
		leaudio server vocs number

config BLUETOOTH_LEAUDIO_AICS_NUMBER
	int "leaudio server aics numnber"
	default 0
	help
		leaudio server aics number

config BLUETOOTH_LEAUDIO_VCS_VOLUME_INITIAL
	int "leaudio server vcs initial volume value"
	default 125
	help
		leaudio server vcs volume initial value

config BLUETOOTH_LEAUDIO_VCS_UNMUTED
	int "leaudio server vcs unmute"
	default 0
	help
		leaudio server vcs unmute

config BLUETOOTH_LEAUDIO_VCS_VOLUME_DEFAULT_SETTING
	int "leaudio server vcs vol settings"
	default 0
	help
		leaudio server vcs vol settings

config BLUETOOTH_LEAUDIO_MICS_NUMBER
	int "leaudio server mics numnber"
	default 0
	help
		leaudio server mics number

endif # BLUETOOTH_LEAUDIO_VMICS

if BLUETOOTH_LEAUDIO_SERVER
config BLUETOOTH_LEAUDIO_SERVER_SINK_ASE_NUMBER
	int "leaudio server sink number"
	default 1
	help
		leaudio server sink ase number

config BLUETOOTH_LEAUDIO_SERVER_SOURCE_ASE_NUMBER
	int "leaudio server source number"
	default 1
	help
		leaudio server source ase number

config BLUETOOTH_LEAUDIO_SERVER_BASS_STATE_NUMBER
	int "leaudio server bass state number"
	default 1
	help
		leaudio server bass state number

config BLUETOOTH_LEAUDIO_SERVER_SOURCE
	bool "enable leaudio server source"
	default y

config BLUETOOTH_LEAUDIO_SERVER_SOURCE_LOCATION
	int "leaudio server source location"
	default 1
	help
		leaudio server source location

config BLUETOOTH_LEAUDIO_SERVER_SINK_LOCATION
	int "leaudio server sink location"
	default 1
	help
		leaudio server sink location

config BLUETOOTH_LEAUDIO_SERVER_CSIS_SIZE
	int "leaudio server csis set size"
	default 1
	help
		leaudio server csis set size

config BLUETOOTH_LEAUDIO_SERVER_CSIS_RANK
	int "leaudio server csis rank"
	default 1
	help
		leaudio server csis rank

endif # BLUETOOTH_LEAUDIO_SERVER

if BLUETOOTH_LEAUDIO_CLIENT
config BLUETOOTH_LEAUDIO_CLIENT_MAX_CONNECTIONS
	int "leaudio client max connections"
	default 4
	help
		leaudio client max connections

config BLUETOOTH_LEAUDIO_CLIENT_MAX_GROUP
	int "leaudio client max group"
	default 4
	help
		leaudio client max connections

config BLUETOOTH_LEAUDIO_CLIENT_MAX_DEVICES
	int "leaudio client max devices"
	default 8
	help
		leaudio client max devices

config BLUETOOTH_LEAUDIO_CLIENT_MAX_ALLOC_NUMBER
	int "leaudio client max alloc number"
	default 64
	help
		leaudio client max group

config BLUETOOTH_LEAUDIO_CLIENT_ASE_MAX_NUMBER
	int "leaudio client max ase number"
	default 2
	help
		leaudio client max ase number

config BLUETOOTH_LEAUDIO_CLIENT_PAC_MAX_NUMBER
	int "leaudio client max pac number"
	default 3
	help
		leaudio client max pac number

config BLUETOOTH_LEAUDIO_CLIENT_CIS_MAX_NUMBER
	int "leaudio client max cis number"
	default 2
	help
		leaudio client max cis number

config BLUETOOTH_LEAUDIO_CLIENT_METADATA_MAX_NUMBER
	int "leaudio client max metadata number"
	default 4
	help
		leaudio client max metadata number

endif # BLUETOOTH_LEAUDIO_CLIENT

config BLUETOOTH_UPGRADE
	bool "Enable Bluetooth storage transformation tool for upgrading OS"
	default n
	depends on KVDB
	depends on UNQLITE

endif #BLUETOOTH
